.container {
  width: 100px;
  height: 100vh; /* use 100% of viewport height */
  border: 1px solid;
  float: left;
}

.subheader {
  text-align: center;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.list li {
  text-align: center;
}
